<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Zinseszinsrechner</title>
    </head>
    <body>

        <h1>Zinseszinsrechner</h1>
        <form action="/submit" method="get" th:object="${kapitalForm}">
            <label for="kapital">Anfangskapital</label>
            <input type = "number" class="form-control" step="0.01" id = "kapital" th:field="*{kapital}" >
            <small class="text-danger" th:if="${#fields.hasErrors('kapital')}" th:errors="*{kapital}">Kapital Error
            </small>
            <br><br>
            <label for="laufzeitid">Laufzeit</label>
            <input class="form-control" type ="number" step="0.01" id ="laufzeitid"  th:field= "*{laufzeit}" >
            <br><br>
            <label for="zinssatzid">Zinssatz (% p.a.)</label>
            <input class="form-control" type = "number" step="0.01"  id="zinssatzid" th:field= "*{zinssatz}">
            <br><br><br>
            <button type="submit">Berechnen</button>
        </form>

        <br><br><br>
        <p>Ihr Endkapital beträgt:</p>
        <p th:text="${endkapital != null ? endkapital : '0'}">0</p>
    </body>
</html>